body 
  background-color: #00031a
  color: #000000
  margin: 40px
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

.app
  background-color: #212a3f
  padding: 30px
  border-radius: 20px  

  input
    background-color: #2d364b
    border: 0
    padding: 10px
    border-radius: 10px
    outline: none
    color: #ffffff

.dishes
  display: flex
  justify-content: space-between
  @media (max-width: 996px)
    flex-wrap: wrap



.form-control  
  width: 300px

.card
  width: 300px
  color: #ffffff
  background-color: #2d364b
  margin: 10px 0
  border-radius: 10px
  &-text
    color: #E1E4E2

img
  max-width: 100%